# Data Mining Assignment 4

## Task 1:

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# read in file with semicolon delimiter
df = pd.read_csv('data/store.csv', encoding='latin-1')

# check how the data looks
print(df.head())
# check data types
print(df.dtypes)
print('\nRows=' + str(len(df.index)) + '\n')
print('Columns=' + str(len(df.columns)) + '\n')
print('Number of NaN:''\n')
df.isna().sum()
df.head()

   Row.ID         Order.ID Order.Date Ship.Date  Ship.Mode Customer.ID  \
0   42433     AG-2011-2040   1/1/2011  6/1/2011          4    TB-11280
1   22253    IN-2011-47883   1/1/2011  8/1/2011          4    JH-15985
2   48883     HU-2011-1220   1/1/2011  5/1/2011          3      AT-735
3   11731  IT-2011-3647632   1/1/2011  5/1/2011          3    EM-14140
4   22255    IN-2011-47883   1/1/2011  8/1/2011          4    JH-15985

     Customer.Name  Segment         City            State  ... Category  \
0  Toby Braunhardt        1  Constantine      Constantine  ...        2
1      Joseph Holt        1  Wagga Wagga  New South Wales  ...        2
2    Annie Thurman        1     Budapest         Budapest  ...        2
3     Eugene Moren        3    Stockholm        Stockholm  ...        2
4      Joseph Holt        1  Wagga Wagga  New South Wales  ...        1

   Sub.Category                 Product.Name    Sales Quantity  Discount  \
0       Storage          Tenex Lockers, Blue  408.300        2       0.0
1      Supplies     Acme Trimmer, High Speed  120.366        3       0.1
2       Storage      Tenex Box, Single Width   66.120        4       0.0
3         Paper  Enermax Note Cards, Premium   44.865        3       0.5
4   Furnishings   Eldon Light Bulb, Duo Pack  113.670        5       0.1

    Profit Shipping.Cost  Status  Order.Priority
0  106.140         35.46       1               4
1   36.036          9.72       1               4
2   29.640          8.17       1               2
3  -26.055          4.82       1               2
4   37.770          4.70       1               4

[5 rows x 25 columns]
Row.ID              int64
Order.ID           object
Order.Date         object
Ship.Date          object
Ship.Mode           int64
Customer.ID        object
Customer.Name      object
Segment             int64
City               object
State              object
Country            object
Postal.Code       float64
Market             object
Region             object
Product.ID         object
Category            int64
Sub.Category       object
Product.Name       object
Sales             float64
Quantity            int64
Discount          float64
Profit            float64
Shipping.Cost     float64
Status              int64
Order.Priority      int64
dtype: object

Rows=51290

Columns=25

Number of NaN:

,Row.ID,Order.ID,Order.Date,Ship.Date,Ship.Mode,Customer.ID,Customer.Name,Segment,City,State,...,Category,Sub.Category,Product.Name,Sales,Quantity,Discount,Profit,Shipping.Cost,Status,Order.Priority
0,42433,AG-2011-2040,1/1/2011,6/1/2011,4,TB-11280,Toby Braunhardt,1,Constantine,Constantine,...,2,Storage,"Tenex Lockers, Blue",408.300,2,0.0,106.140,35.46,1,4
1,22253,IN-2011-47883,1/1/2011,8/1/2011,4,JH-15985,Joseph Holt,1,Wagga Wagga,New South Wales,...,2,Supplies,"Acme Trimmer, High Speed",120.366,3,0.1,36.036,9.72,1,4
2,48883,HU-2011-1220,1/1/2011,5/1/2011,3,AT-735,Annie Thurman,1,Budapest,Budapest,...,2,Storage,"Tenex Box, Single Width",66.120,4,0.0,29.640,8.17,1,2
3,11731,IT-2011-3647632,1/1/2011,5/1/2011,3,EM-14140,Eugene Moren,3,Stockholm,Stockholm,...,2,Paper,"Enermax Note Cards, Premium",44.865,3,0.5,-26.055,4.82,1,2
4,22255,IN-2011-47883,1/1/2011,8/1/2011,4,JH-15985,Joseph Holt,1,Wagga Wagga,New South Wales,...,1,Furnishings,"Eldon Light Bulb, Duo Pack",113.670,5,0.1,37.770,4.70,1,4